/* NAVIGATION MENU */
#nav_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    /* color: #363636; */
}

#home_btn, #project_btn, #contact_btn {
    cursor: pointer;
    display: inline-block;
    /* border-bottom: 1px solid #ddd; */
    padding: 5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}




/* HOME SECTION */
#home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #363636;
    text-align: center;
    min-height: 529px;
}

#home .card {
    max-width: 500px;
    padding-bottom: 50px;
    line-height: 2em;
    margin-bottom: 40px;
    font-size: 0.9em;
}

#home h2 {
    line-height: 1.5em;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    margin: 40px 20px 30px 20px;
    color: black;
}

#aboutme_img {
    width: 100%;
}

#personal_info_wrapper, #edu_wrapper, #tags_wrapper {
    padding: 30px;
}

#flex_wrapper {
    padding: 0 30px 30px 30px;
}





/* PROJECT SECTION */
#project {
    color: hsl(220, 14%, 71%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#project .card {
    width: 400px;
    margin-bottom: 40px;
    padding-bottom: 0px;
}

.card-image {
    /* height: 205px; */
    position: relative;
    overflow: hidden;
}

/*the project thumbnails*/
.card-image img {
    width: 100%;
}

.card:hover .card-image img {
    /* width: 110%; */
    filter: grayscale(0);
    cursor: pointer;
}

.card_content {

}

.card_desc {
    padding: 0px 20px 0px 20px;
    font-size: 0.86em;
    min-height: 150px;
    color: black;
}

.tags_container {
    font-size: 0.9em;
    min-height: 100px;
    padding: 0px 20px 0px 20px;
}

.buttons_container {
    padding: 20px 0px 20px 0px;
    background: white;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




/* CONTACT SECTION */


#contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#contact .card {
    padding: 20px 30px 60px 30px;
    margin-bottom: 40px;
    max-width: 400px;
}

/* .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

form label,
form input,
form textarea,
form select,
form button {
    width: 100%;
    /* margin: 10px;
    margin-bottom: 20px; */
}

form input {
    height: 30px;
    margin-bottom: 20px;
}

form textarea {
    height: 100px;
    margin-bottom: 20px;
    resize: none;
}

form button {
    height: 30px;
    margin: 0px;
    margin-bottom: 20px;
}



#contact .fa-facebook,
#contact .fa-linkedin,
#contact .fa-github
{
    color: #3B5998;
    font-size: 1.5em;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
    margin: 0 20px 0 20px;
}

#contact .fa-linkedin {
    color: #0077B5;
}

#contact .fa-github {
    color: #211F1F;
}

#contact .fa-github:hover,
#contact .fa-linkedin:hover,
#contact .fa-facebook:hover
{
    margin-top: -7px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}




/* FOOTER */
footer {
    margin-top: 40px;
    margin-bottom: 20px;
    color: hsl(220, 14%, 71%);
    text-align: center;
}

#footer_buttons_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    opacity: 0.6;
    font-size: 1.2em;
}

footer .fa-github {
    color: #211F1F;
}

footer .fa-facebook {
    color: #3B5998;
}

footer .fa-linkedin {
    color: #0077B5;
}





@media screen and (max-width: 404px) {
    #home_btn, #project_btn, #contact_btn {
        text-align: center;
        width: 100%;
        margin-left: 30%;
        margin-right: 30%;
    }
}
