/* NAVIGATION MENU */
#nav_menu, #sub_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#about_me_btn, #projects_btn, #contact_btn, #big_btn, #small_btn {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

/* FILTER SELECT */
#filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#filter select {
    outline: none;
    height: 35px;
    width: 200px;
    border: 2px solid #97A89C;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}

#filter option {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

#filter button {
    /* cursor: pointer; */
    background: #97A89C;
    color: #fff;
    /* border: 1px solid #97A89C; */
    padding: 0 20px 0 20px;
    font-family: 'Roboto', sans-serif;

}

#filter button:focus {
    outline: none;
    /* border: 1px solid #97A89C; */
}


/* ABOUT SECTION */
#about_me {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    color: #363636;
    text-align: center;
    min-height: 529px;
}

#about_me .card {
    max-width: 500px;
    padding-bottom: 50px;
    line-height: 2em;
    margin-bottom: 40px;
    font-size: 0.9em;
}

#about_me h2 {
    line-height: 1.5em;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    margin: 40px 20px 30px 20px;
    color: black;
}

#tags_wrapper #skill_tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#personal_info_wrapper, #edu_wrapper, #tags_wrapper {
    padding: 30px;
}

#flex_wrapper {
    padding: 0 30px 30px 30px;
}




/* projects SECTION */
#projects {
    color: hsl(220, 14%, 71%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex: 1; /*makes the cards equal height though, not content*/
}

#projects .card {
    width: 400px;
    margin-bottom: 40px;
    padding-bottom: 0px;

    /* min-height: inherit; */
    /* use height of card_container.. make their minheight the same i guess.. so time it.. then fix tags spacing/rows? */
}

.card-image {
    /* height: 205px; */
    position: relative;
    overflow: hidden;
}

/*the projects thumbnails*/
.card-image img {
    width: 100%;
}

.card_desc {
    padding: 0px 20px 0px 20px;
    font-size: 0.86em;
    min-height: 150px;
    color: black;
    text-align: center;
}

.tags_container {
    text-align: center;
    font-size: 0.9em;
    min-height: 100px;
    padding: 0px 20px 0px 20px;
}

.buttons_container {
    padding: 20px 0px 20px 0px;
    background: white;
    margin: 0px;
    /* min-height: 40px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}




/* CONTACT SECTION */
#contact {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#contact .card {
    padding: 20px 30px 60px 30px;
    margin-bottom: 40px;
    max-width: 400px;
}


form label,
form input,
form textarea,
form select,
form button {
    width: 90%;
}

form input {
    height: 30px;
    margin-bottom: 20px;
}

form textarea {
    height: 100px;
    margin-bottom: 20px;
    resize: none;
}

form button {
    margin: 0px;
}

form button:hover {
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #A39FA1;
    font-family: Arial;
    font-weight: 1em;
}

:-moz-placeholder {
    color: #A39FA1;
    font-weight: 1em;
}

::-moz-placeholder {
    color: #A39FA1;
    font-weight: 1em;
}

:-ms-input-placeholder {
    color: #A39FA1;
    font-weight: 1em;
}

textarea {
    font-family: Arial;
    font-weight: 1em;
}

textarea::-webkit-input-placeholder {
    color: #A39FA1;
    font-family: Arial;
    font-weight: 1em;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #A39FA1;
    font-family: Arial;
    font-weight: 1em;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
     color: #A39FA1;
     font-family: Arial;
     font-weight: 1em;
}

textarea:-ms-input-placeholder {
     color: #A39FA1;
     font-family: Arial;
     font-weight: 1em;
}

textarea::placeholder {
    color: #A39FA1;
    font-family: Arial;
    font-weight: 1em;
}




/* FOOTER */
footer {
    margin-top: 40px;
    margin-bottom: 40px;
    color: hsl(220, 14%, 71%);
    text-align: center;
}

#footer_buttons_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    opacity: 0.6;
    font-size: 1.2em;
}

footer .fa-github {
    color: #211F1F;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer .fa-facebook {
    color: #3B5998;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer .fa-linkedin {
    color: #0077B5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer .fa-youtube {
    color: #c4302b;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer .fa-github:hover,
footer .fa-facebook:hover,
footer .fa-linkedin:hover,
footer .fa-youtube:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

/* ANIMATIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* forces the nav menu to go from 3 buttons on one row directly to 1 button for each row */
/* flexbox manages the rest of the responsive design */
@media screen and (max-width: 404px) {
    #about_me_btn, #projects_btn, #contact_btn {
        text-align: center;
        width: 100%;
        margin-left: 30%;
        margin-right: 30%;
    }
}
