* {
  /* box-sizing */
  font-family: 'Roboto', sans-serif;
  color: white; /* use blakc instead as default?  */
  /* defualt font also in template - main sections etc.. noone follows - screen readers? */
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: white; /*#0477BF whitsmoke, #ddd, f1vsf5?, vs white less white*/
}

header {
    padding: 0;
    margin: 0;
}

/* reason to use nested? avoid conflict before happen?  */
/* main not ment for styling? */
main section {
    color: black;
    padding-bottom: 40px;
    min-height: 800px;
}

footer {
    background: #0477BF !important;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  /* verdana, helvetica
  cross browser fonts */
  color: black;
  /* font-family: roboto, verdana, helvetica */
}

img {
    color: black;
}

button {
    background: #0477BF !important; /* BF213E #04BFAD important is necessary */
}

p {
    color: black;
    /* line-height: 1.7;  */
}


/* resizing container on media queries */
/* alt: put in it own correct pos from start and hide - what is correct pos?  */
@media only screen and (max-width: 992px) {
    /* makes the menu left aligned so that the hamburger btn moves left  */
    #menu {
        justify-content: left;
    }
}


/* also faster to build it so dont need to use queries? auto works? */

/* move navinfo outwards to match lines
remove padding from h2 - (make all h2) - so pics match text

make meny info align on mobile better
add hamburger menu for new meny

tjenester distance
tjenester media - flexbox
add the tjenester text in a basic card?
redesign om oss dropdown like his?

sjekk ut hvordan de har designet sine "tjenester"
innlandet eks

fix om oss - texten tar mer plass
kartet under? - hide on med and down? make smaller? do same for tjenester? nah, always room for one card at a time

padding in downarrow dropdown smaller

make 3 types of flexbos with img

try media resposnive
carousel
breadcrumb


prøve - fikse validation color and
mobile resize bug?


how to find the brekapoints? is it a px ref online? or can use a custome name? should be on the website.

add - submenues in the sidenav

sjekk alle sider for responsiveness
delibartly try to err
check all possible clicks - and combinations

mobile nav info moves when smaller, so not aligned with hr


jeg kan ikke ha små cards/prosjekter fordi jeg må sette propertien så de ikke blir samme høyde? - so set: align-items: flex-start?
add dette prosjektet
bedre organisring? layout.. sider?
fancier? svg anim?

use margin flex-becuse doenst count as part of el, so it will aliogne? vs padding

høyden til den største, width til den største
hvis jeg forandrer så de ikke blir stretch til hølyden til den største så kan jeg ha ulike størrelser

kopier expand card for reading materlize css component for min side - eller i hvertfall animer benevgelsen
legg til mer css transition animasjoner, trykk knapp etc, add and remove, eller bruk vue transitions - trooltip and dropwon anim.

hvordan få tekst til å fylle? max widht? width percent? siden nå tar hele linja, blir større?
set bildene/ansatte med perecnt also?
dyttes ned funker fordi har heading?
dyttes ned funker auto, blir bra for alle og bryter ikke layout, men widht etc må justeries noe og kanskje hide --med funker også med col som nå? hvis blir god col, kan ta avgjørelsen for design når adder classes

horizontal desktop, vertical mobile becasue of scroll vs using lines and having to scroll
therefore push down always good as default? tjeneste diven som example, når jump down visually makes sense to me

better make use of the width = use percent?


empty white space bug on med and low

mp4 og filter

try svg animations with the logo.. svg fy it

remove #!
preventDefault med event vs param

aria
minify
mobile

 */


nav li {
  width: 200px;
  text-align: center;
  /* whenuse the center aling it uses the text align anyway also? */
  /* overrding always works and are easy, css or style, execpt for the color... */
}

/* must override in the cdn css files?  */
.gray {
  color: #ddd;
}

.divider {}
.big_divider {}

/* for alt attribute text  */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

/* kan kræsje med events og .hide? */
.hidden {
  display: none; /* !important;*/
}

.visible {
  display: block;  /*this a problem? how to test?*/
}

/* insent enough to do after?
is it becasue not after when not in file? */
/* see the css file and look at nav and change it if downloaded
min and use specific version or download and icons etc */
.nav-wrapper {
  background-color: #0477BF !important;
  /* !important is necessary */
  /* background-color: whitesmoke !important; /* !important is necessary */
}

.banner {

  width: 100%;
  height: 200px; /*percent*/
  /* background: blue; */
  /* font-family: 'Francois One', sans-serif; */
  /* font-family: 'Overpass', sans-serif; */

  /* border: 1px solid red; */
}

.info {
  margin-right: 14px;
  /* border: 1px solid green; */
}

.logo {
  /* border: 1px solid red; */
}

/* empty fields not allowed also */
input, textarea {
    color: black !important;
    padding-left: 10px !important;
    border: 1px solid #ddd !important;
    border-radius: 6px !important;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05) !important;
}

textarea {
    padding-top: 10px;
}

textarea:focus {
    outline: none;
}

/* minimalistisk stil på forsida med heading? no color nav? no banner? no img? */

/* carrousel? tjenester */
/* det enkle er det beste?  */

/* outline / focus
errior color */


/* textarea:active {} */

/*
.row {
    border: 1px solid blue !important;
}
.col {
    border: 1px solid red !important;
} */

/* textarea {
    border-radius: 4px !important;
    border: 1px solid #ddd !important;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05) !important;
} */

/* border: 1px solid #0477BF !important; */
/* textarea:focus {
} */

/* label color */
 /* .input-field label {
   color: #000;
 } */
 /* label focus color */
 /* .input-field input[type=text]:focus + label {
   color: #000;
 } */
 /* label underline focus color */
 /* .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 } */
 /* valid color */
 /* .input-field input[type=text].valid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 } */
 /* invalid color */
 /* .input-field input[type=text].invalid {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
 } */
 /* icon prefix focus color */
 /* .input-field .prefix.active {
   color: #000;
 } */

b {color: black;}

/* make the active element more clearly active. enhance existing class */
.active {
  /* border-bottom: 2px solid white; */
}

/* .service_desc {
    float: right;
}

.service_desc::after {
    float: none;
} */




/* banner-text - fg - color adn font and size
banner-bg
make a class with color and apply to all relveant places
apply the color css in the right element that targets all.. and not hav them override


complex banner bg? not so boring .. godrays, pattern with logo  */

/* mastermerke, font banner,  */
/* logo headings */
/* evosulsjone rlogo, og inidivudal pices, bg image by cutting a part from it  */
/* dont move the icon down - text size or remove them or..?
menu - smaller buttons, or hamburger? */
